main {
  section.gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    width: 100%;
    max-width: 78rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.75rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      cursor: pointer;
      max-width: 18rem;
      aspect-ratio: 9/16;
    }

    img:hover {
      transform: scale(1.025);
      box-shadow: 0 0 30px rgba(14, 68, 114, 0.4);
    }
  }


}
