section.videos {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 72rem;

  iframe {
    width: 100%;
    max-width: 35rem;
    aspect-ratio: 16 / 9;
    border-radius: 0.75rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}
